<mat-drawer-container class="h-100">
    <mat-drawer mode="side" [opened]="largeScreen">
        <app-side-nav url="todo"></app-side-nav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header title="My Todo List"></app-header>
        <div class="contianer">
            <button class="mt-3 mx-3" mat-button (click)="add()">Add new item</button>
            <mat-card class="m-3" *ngIf="items.length">
                <mat-list role="list">
                    <mat-list-item *ngFor="let item of items" role="listitem">
                        <span mat-line> {{item.content}} </span>
                        <button mat-icon-button [matTooltip]="item.done ? 'Mark as not done' : 'Mark as done'" (click)="toggleDone(item)">
                            <mat-icon [color] = "item.done ? 'accent' : ''" class="mat-24">done</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Delete item" (click)="delete(item)">
                            <mat-icon class="mat-24">delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>